/*Login -- Iniciar sesion Organizador- Clientes*/
body {
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(to bottom right , #AC87C5, #C2D9FF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}
/*Logo de la pagina*/
#logoBolegrama{
    width: 290px;
    height: 224px;
    padding-top: 19px;
    padding-left: 550px;
}
/*main */
main{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
/*Formularios*/
#form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 23px;
    padding-right: 82px;
    padding-left: 30px;
    padding-top: 45px;
    padding-bottom: 80px;
    width: 925px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#tr{
    display: flex;
    align-items: center;
    gap: 5px;
}

/*Lineas*/
.row{
    margin-bottom: 10px;
}
/*Select*/
select {
    padding: 5px;
    border-radius: 5px; 
    border: 1px solid whitesmoke; 
    background-color:white;
    width: 200px; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    cursor: pointer;
    font-size: 20px;
}
  /* Estilo cuando el select está enfocado */
select:focus {
    border-color: #AED2FF; /* Cambia el color del borde cuando está enfocado */
    outline: none; /* Quita el contorno predeterminado */
}
#formularioCliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#formularioOrganizador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
/*Input*/
input[type="text"], input[type="password"], input[type="number"]{
    padding: 5px;
    width: 285px; 
    border: 1px solid whitesmoke; 
    background-color:rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
#Btns{
    display: flex;
    align-items: center;
    padding: 8px 52px;
    margin-left: 99px;
    gap: 157px;
}


#BtnLogin, #BtnRegistrar{
    padding: 5px;
    border-radius: 5px; 
    border: 1px solid whitesmoke; 
    width: 200px; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#BtnLogin:hover{
    background-color:#7091F5; /* Nuevo color de fondo cuando el cursor está sobre el botón */
}

#BtnRegistrar:hover{
    background-color: #793FDF;
}

/*Footer el diseño completo */
footer {
    padding: 20px 0;
    background-image: linear-gradient(to bottom left , #E1AFD1, #9195F6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}
#logoFooter{
    width: 129px;
    height: 115px;
    padding-top: 10px;
    padding-left: 59px;
}
h3{
    padding-top: 10px;
    padding-left: 59px;
    font-family: 'Courier New', Courier, monospace;
}
#IconsContac{
    display: flex;
    gap: 16px;
    padding-top: 5px;
    padding-left: 17px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
#IconsRedes{
    display: flex;
    gap: 16px;
    padding-top: 5px;
    padding-left: 17px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#footerContacto{
    padding: 25px 16px 58px 61px;
    display: flex;
    align-items: center;
}
#footren a, #list-trend li>a{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    line-height: 1.9;
    padding-bottom: 8px;
    text-decoration: none;
}
#list-trend h4 {
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    grid-area: g;
}
#list-trend li {
    padding: 2px 0px 2px 0px;
}
#list-trend ul {
    list-style: none;
    margin-top: 10px;
}

#list-trend #list1 {
    grid-area: l;
}

#list-trend #list2 {
    grid-area: p;
}
#list-trend #list3 {
    grid-area: s;
}

#list-trend {
    width: 54%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "g g g"
                            "l p s";
}
#lkf hr {
    width: 95%;
    color: black;
}
#lkf {
    padding-bottom: 30px;
}
#lkf a {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    line-height: 1.9;
    padding-bottom: 8px;
    text-decoration: none;
}
#lk {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
}